# Vercel
.vercel

# Env files
.env*.local
.env

# Dependencies
node_modules/
*/node_modules/
frontend/node_modules/

# Next.js build output
.next/
frontend/.next/
out/
frontend/out/

# Build
dist/
build/
frontend/dist/
frontend/build/

# OS
.DS_Store
Thumbs.db

# Debug logs
*.log
npm-debug.log*

# Misc
*.tsbuildinfo
